[submodule "load_manager"]
	path = load_manager
	url = git@github.com:distribuidos-20253-acha/load_manager.git
[submodule "p_solicitante"]
	path = p_solicitante
	url = git@github.com:distribuidos-20253-acha/p_solicitante.git
[submodule "database"]
	path = database
	url = git@github.com:distribuidos-20253-acha/database.git
[submodule "storage_manager"]
	path = storage_manager
	url = git@github.com:distribuidos-20253-acha/storage_manager.git
[submodule "catalog_service"]
	path = catalog_service
	url = git@github.com:distribuidos-20253-acha/catalog_service.git
[submodule "actores-ts"]
	path = actores-ts
	url = git@github.com:distribuidos-20253-acha/actores-ts.git
[submodule "acha-lib"]
	path = acha-lib
	url = git@github.com:distribuidos-20253-acha/acha-lib.git
